{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-xl-8 mx-auto">
      <form action="/court" method="post">
        <div class="form-group row">
          <div class="col-2 my-auto font-weight-bold" style="font-size:1.3rem;">運動中心</div>
          <div class="col-10">
            <div class="ckb">
              <label>
                <input id="sc-chooseall" type="checkbox" value="all" name="sclist"><span>全選</span>
              </label>
            </div>
            {% for id,sc in sport_center.items() %}
            <div class="ckb sc-item">
              <label>
                <input type="checkbox" value="{{ id }}" name="sclist"><span>{{ sc.name }}</span>
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2 my-auto font-weight-bold" style="font-size:1.3rem;">日期</div>
          <div class="col-10"><input type="text" class="form-control col-md-3 col-lg-2" id="datepicker" name="date" required></div>
        </div>
        <div class="row">
          <input type="submit" value="查詢" class="btn btn-primary col-6 mx-auto">
        </div>
      </form>
      <br>

      
    </div>
  </div>

  

</div>
{% endblock %}

{% block script %}
<script src="/static/js/index.js"></script>

{% endblock %}
